/**  Basic Page CSS **/
html{
  max-width: 100%;
  overflow-x: hidden;
}

body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

h1{
  font-size: 2em;
}

ul{
  list-style-position: outside;
}

/*** navbar **/
header .navbar {
  padding: 30px 0;
  transition: all .5s ease-out;
  border-color: transparent;
}

header .navbar-default {
  background-color: transparent;
}

header .navbar-brand{
  padding-top: 12px;

}

header .navbar-brand img{
  max-width: 200px;
}

header .navbar-default .navbar-nav a, .navbar-default .navbar-nav>li>a:focus{
  color: rgba(100, 100, 100, 1);
}

header .navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus{
  color: rgba(212,175,55,1);
}

header .navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav>li>a:hover{
  color: rgba(212,175,55,1);
}

header .nav .active a { 
  background: transparent !important; 
} 

header .navbar .navbar-collapse{
  text-align: center;
}

@media only screen 
and (min-width: 0px)
and (max-width: 768px){
  header .navbar{
    background-color: white;
  }
  header .navbar .navbar-brand img{
    max-width: 150px;
  }
}

/** navbar in body **/
header .navbar.inbody {
  border: 1px solid transparent;
  border-color: #DDD;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #FBFBFB !important;
}

header .navbar.inbody a:hover, .navbar.inbody .active a:hover{
  color: rgba(212,175,55,1);
}

header .navbar.inbody .navbar-brand img{
  max-width: 150px;
}

/**  Page **/

.page h1 {
  margin-bottom: 50px;
}

/** Main Page **/
#main{
  /*background: url('../pics/car.jpg') no-repeat center top;*/
  /*background: url('../pics/car.jpg') no-repeat center top fixed;*/
  /*background: url('../pics/background.jpg') no-repeat center top;*/
  /*background-size: auto 100%;*/
  background-size: 100% auto;
  background-color: white;
  position: relative;
}

#main #main-image{
  padding-top: 15%;
}

#main-image img{
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px){
  #main #main-image{
    padding-top: 200px;
  }
  #main-image img{
    max-width: 80%;
  }
}

#prayer-table{
  padding-top: 15px;
  font-size: 0.9em;
  color: #AAA;
}

.pname{
  text-align: right;
  font-weight: 400;
}

/** About Page **/
#about{
  background-color: #F9F9F9;
}

#about h1{
  text-align: center;
}

#about .content.container{
  padding: 70px 10px 50px 10px;
}

#about .row{
  padding-top: 40px;
}

#about .col-md-4{
  text-align: center;
}

/*** Radio ***/
#radio{
  position: fixed;
  bottom: -10px;
  width: 100%;
}


/*** Footer ***/
#footer{
  background-color: transparent;
}

#footer .content.container{
  text-align: center;
  font-size: 14px;
  color: #666;
}

#footer p{
  margin: 5px 0 10px 0;
}
