doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title='Al-Quran Radio'
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon", href="images/alquran-favicon.png")
    link(rel="icon", href="images/alquran-favicon.png")
    block links
  body
    block content
